$color-claro: #fff;
$color-primario: #020002;
$color-secundario: #ffd8f1;
$color-variacion: #d8eeff;

@mixin link {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

@function get-opacity($color,$nivel) {
  @return rgba($color,$nivel);
}

* {
  font-size: 10px;
  color: $color-primario;
}

body {
  margin: 0px;
}