include pug/configuraciones.pug
<!DOCTYPE html>
html(lang="en")
  include pug/head.pug
  body
    header.header
      include pug/intros.pug
      include pug/reviews.pug
      include pug/menus.pug
    .main
      aside.main__news
        article.news--up
          h2 The Great Kate
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nostrum fugit, rem et sint laboriosam nobis sit repudiandae. Qui facilis culpa praesentium, nulla commodi eos veniam deleniti obcaecati odit dignissimos.
          h3
            |watch video
            a(href="")
              img(src="", alt="")
          img(src="", alt="")
        article.news--down
          figure
            img(src="", alt="")
          h2 
            |Everyone In Old Hollywood Was 
            span
              |On Acid
          h4 March 20, 1966
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consequuntur doloremque veritatis, aliquid est non iusto ratione eaque, architecto, cum itaque maiores velit. Consequatur quaerat, soluta excepturi repellendus quod ipsum.
          h3
            |read more
            a(href="")
              img(src="", alt="")
        aside.news--ad
          h1 Dream Lover
          h2 the bobby darin
          h3
            |book
            a(href="")
              img(src="", alt="")
      .trending
        .trending__principal
          figure
            img(src="", alt="")
          h3 trending
          a(href="")
            img(src="", alt="")
        .trending__description
          h1 Brunettes, Redheads Picket Does Gentleman Prefer Blondes
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis explicabo voluptatibus dolores nesciunt quam qui numquam libero! Minima sequi alias ad excepturi quos. Porro quisquam non, saepe amet illum praesentium?
        .trending__autor
          img(src="", alt="")
          .trending__autor--description
            h1 Jinneuvile Martin Jose
            h3 March 12, 1966
          .trending__next
            a(href="")
              img(src="", alt="")
            a(href="")
              img(src="", alt="")
      .suscription
        aside.suscription__ad
          h1 good times now
          p Every Thursday at 8:00pm
          button book now
        +new(0,)
        +new(1,)
        +new(2,)
        include pug/forms.pug


