.header__adsRight
  .header__adsRight-content
    h2.title #{titulo_main[5]}
    h2.price #{titulo_main[6]}
    h4 #{titulo_main[7]}
  figure.header__adsRight-image
    img(src="../images/telephone.jpeg", alt="Teléfono a la venta")