-var titulo_main = ["devi's public house", "beers*bourbons*bread", "los angeles-montreal-new york", "hollywood factory", "march 24 1976", "telephone is here", "$18.90", "los angeles montreal"]

-var carrouseles = ["Cool Han Luke 7.2", "Planet of the Aples 9.1", "The Godfather 9.6", "It's a Wonderful time 7.5", "The Third Man 6.9", "Dr. Strangelove 8.9"]

-var nav_bar = ["latest", "featured", "automobiles", "celebreties", "hollywood directory", "trending movies", "book tickets", "fans", "books"]