.header__menu
  figure
    img(src="../images/icons/grafico.png", alt="icon")
  ul
    each link in nav_bar
      li
        a(href="#")=link
  figure
    img(src="../images/icons/busqueda.png", alt="icon")